$color-primary: #0067c7;
$color-background: #f4f4f4;

$color-white: #ffffff;
$color-dark-white: #f0f0f0;
$color-gray: #c4c4c4;
$color-light-gray: #606060;
$color-dark-gray: #303030;
$color-black: #000000;
$color-light-black: #2e2e2e;
